.body{
}
.kanpai{
    width: 47%;
    display: block;
    margin: auto;
}
.mone1{
    width: 36%;
    display: block;
    margin: auto;
}
.mone2{
    width: 36%;
    display: block;
    margin: auto;
}
.mone3{
    width: 36%;
    display: block;
    margin: auto;
}
.mone4{
    width: 30%;
    display: block;
    margin: auto;
    transform:rotate(270deg);
}

.monemone {
    display: none;
  }

.fade-in {
    animation: fade-in 1s ease-in forwards;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .text-input{
    position: absolute;
    top: 30.3vw;
    left: 40%;
    width: 21%;
    padding: 10px 15px;
    font-size: 17px;
    border-radius: 3px;
    border: 2px solid #ddd;
    box-sizing: border-box;
  }